{% extends 'base.html.twig' %}

{% block content %}
    <h1>Modifier salle</h1>
    {{ form_start(form) }}

      {{ form_row(form.design, {'attr': {'class': 'form-control', 'placeholder': 'Numero de la salle'}}) }}
        
    <br/>
    <button type="submit" class="btn btn-primary">Modifier</button>
    {{ form_end(form) }}

{% endblock %}